[loggers]
keys=root

[handlers]
keys=hand1

[formatters]
keys=form1

[formatter_form1]
format=[%(levelname)s] [controller]: %(message)s

[logger_root]
level=DEBUG
handlers=hand1

[handler_hand1]
class=handlers.RotatingFileHandler
level=DEBUG
formatter=form1
args=('./controller.log', 'a', 52428800, 30,)

