{
  "log" : {
    "access": "/var/log/v2ray/access.log",
    "error": "/var/log/v2ray/error.log",
    "loglevel": "warning"
  },
  "inbound": {
    "port": 1080,
    "protocol": "socks",
    "settings": {
      "auth": "noauth",
      "udp": false
    }
  },
  "inboundDetour": [
    {
      "port": 9090,
      "protocol": "http",
      "settings": {
        "timeout": 0
      }
    }
  ],
  "outbound": {
    "protocol": "vmess", 
    "settings": {
      "vnext": [
        {
          "address": "107.150.122.9",
          "port": 52846,
          "users": [
            {
              "id": "5a5c2bfe-e19f-4a7c-ae60-46a37120987f",
              "alterId": 64,
              "security": "aes-128-gcm"
            }
          ]
        }
      ]
    }
  },
  "outboundDetour": [
    {
      "protocol": "freedom",
      "settings": {},
      "tag": "direct"
    }
  ],
  "routing": {
    "strategy": "rules",
    "settings": {
      "rules": [
        {
          "type": "field",
          "ip": [
            "0.0.0.0/8",
            "10.0.0.0/8",
            "100.64.0.0/10",
            "127.0.0.0/8",
            "169.254.0.0/16",
            "172.16.0.0/12",
            "192.0.0.0/24",
            "192.0.2.0/24",
            "192.168.0.0/16",
            "198.18.0.0/15",
            "198.51.100.0/24",
            "203.0.113.0/24",
            "::1/128",
            "fc00::/7",
            "fe80::/10"
          ],
          "outboundTag": "direct"
        },
	{
	  "type": "field",
	  "domain": [
	    "gitlab.ucloudadmin.com"
	  ],
          "outboundTag": "direct"
        }
      ]
    }
  }
}
